@{
    ViewBag.Title = "Shopping Bag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Bag</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div id="shoppingBag">

</div>
@Html.AntiForgeryToken()

@section scripts{
    <script>
        $(document).ready(function () {
            loadData();
        });
        function loadData() {
            $.post('/User/LoadBagItem', {
                __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
            }, function (result) {
                var decodedString = atob(result);
                $("#shoppingBag").html(decodedString);
            });
        }
    </script>
    <script>
    $('#trailerViewModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var embedCode = button.data('embedcode')
            var modal = $(this)
            modal.find('.modal-body').html(embedCode)
        });
        $('#trailerViewModal').on('hide.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body').html('')
        });</script>
}

