@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

<div class="col-md-12" style="letter-spacing: 0px; font-size: 0.875rem">
    <div class="mb-2">
        <b>PH Cinema</b> is the largest film distributor and cinema operator in Vietnam and one of top 5 cinema chains in the world.
    </div>

    <div class="mb-2">
        Our mission is to become a role model company for continuous development of the film 
        industry in Vietnam.
    </div>

    <div class="mb-2">
        <b>PH Cinema</b> has created a unique concept of transforming former multiplexes into <b>“Cultureplex”</b>,
        where customers not only enjoy the movie, but also have access to diverse entertainment experiences. 
        At PH we implement the latest technology including <b>SCREENX, IMAX, STARIUM, 4DX, 
        Dolby Atmos</b> as well as completely new and different F & B offerings. 
        All while still providing the highest quality service by PH Cinema's staff.
    </div>

    <div class="mb-2">
        Our CSR-CSV activities, such as <b>Scriptwriting Contest, CJ Short Film Making Project, 
        Toto’s Film Making Class, PH ArtHouse</b> and our sponsorship of major film events such as HANIFF, 
        <b>Vietnam Film Festival</b>, aim at building and enhancing platforms where talented filmmakers can be identified. <br />
    </div>

    <div class="mb-2">
        We are also determinedly providing movie-going experiences for audiences who currently have limited access to quality cinema environment through CSV programs such as <b>Smile Moon</b> and <b>Movie for Everyone</b>.
    </div>

    <div class="mb-2">
        In addition, <b>PH Cinema Vietnam</b> has a transparent and professional system which ensures fair conditions for all the business partners.
    </div>

    <div class="mb-2">
        Together, with our valued audiences, film makers and business partners, <b>PH Cinema Vietnam</b> will continue our journey towards the prosperous future of Vietnam’s movie industry.
    </div>
</div>